version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: nallangadi-frontend
    ports:
      - "5173:5173"
    depends_on:
      - api
    restart: unless-stopped

  api:
    build: ./api
    container_name: nallangadi-api
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    environment:
      MONGO_URL: mongodb://mongo:27017/office
    volumes:
      - ./downloads:/app/downloads
      - ./media:/app/media
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: nallangadi-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
